
.active, .collapsible:hover {
    background-color: #555; 
}




.content {
    padding: 0 18px;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
    background-color: rgb(33, 37, 43);
    width: 100vw;
    position: relative;
    left: -25px;
}

.pane{
    display: flex;
    flex-direction: column;

    overflow: hidden;

    width: 130%;
    position: relative;
    left: -20px;
}

.pane-header{
    line-height: 22px;
    color: var(--vscode-sideBarSectionHeader-foreground);
    background-color: var(--vscode-sideBarSectionHeader-background);
    border-top: 1px solid var(--vscode-sideBarSectionHeader-border);
    position: relative;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-size: 11px;
    font-weight: 700;
    height: 22px;
    overflow: hidden;
}

.pane-header-title{
    font-size: 11px;
    min-width: 3ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    text-transform: uppercase;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    display: block;
}

.pane-indicator {
    color: var(--vscode-icon-foreground);

}

.pane.active .pane-header{
    opacity: 1;
    outline-color: var(--vscode-focusBorder);
    outline-offset: -1px;
    outline-style: solid;
    outline-width: 1px;
}

#completed-tasks-list, #tasks-list{
    overflow: scroll;
    max-height: 90%;
}
